@media only screen and (max-width:480px)
{
  .topmid,.top {
    font-size:12px;
    font-weight:normal;
  }
  .top {
    height:400px;
  }
  .botmid {
    font-size:8px;
    font-weight:normal;
    margin-top:300px;
  }
}
@media only screen and (max-width:240px)
{
  .topmid,.top {
    font-size:8px;
    font-weight:normal;
  }
  .top {
    height:280px;
  }
  .botmid {
    font-size:8px;
    font-weight:normal;
    margin-top:180px;
  }
}
.toggle-nav {
    display:none;
}
@media screen and (max-height:620px) {
  .logo {
    font-size:16px;
  }
  .logo h1 {
    padding-top: 30vh;
  }
  .footer {
    font-size: 12px;
  }
}
@media screen and (max-height:460px) {
  .logo {
    font-size:12px;
  }
  .logo h1 {
    padding-top:25vh;
  }
  .footer {
    height:10vh;
    font-size: 8px;
  }
}
@media screen and (max-height:320px) {
  .logo {
    font-size:10px;
  }
  .logo h1 {
    padding-top: 22vh;
  }
}
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
@media screen and (max-width: 500px) {
    .navbar {
        display:inline-block;
    }
    .navbar ul.active {
        display:none;
    }
    .navbar ul>li {
      width:100%;
	  padding:0;
    }
    .navbar ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        border-radius:3px;
        background:#303030;
        min-height: 120px;
		padding:0;
    }

    .navbar ul:after {
        width:0px;
        height:0px;
        position:absolute;;
        top:0%;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .navbar ul {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .navbar a {
        display:block;
    }
    .navbar a:hover {
      background-color:transparent;
    }
    .toggle-nav {
        padding:10px;
        float:left;
        display:inline-block;
        background:#000;
        color:#fff;
        font-size:16px;
        transition:color linear 0.15s;
        text-decoration:none;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#fff;
    }
}