@import url('https://fonts.googleapis.com/css?family=Lustria')

// Czcionki
header-font = 'Lustria', 'Trajan', 'Times New Roman', serif
main-font = system-ui

// Kolory
bg = #170f24

accent = #c93356
accent-dark = #632e4c
accent-darker = #32253f

font-default = #ddd
font-header = #eee
font-focus = #c93356

// Rozmiary czcionek
font-big = 2.4em
font-normal = 2em
font-small = 1.6em
font-mini = 1.2em

// Punkty przełamania
screen-medium = 32em
screen-large = 48em
screen-full = 64em

// mixiny
transition-short(prop)
  transition prop .11s ease-in-out

transition-medium(prop)
  transition prop .33s ease-in-out
